.btn {
  position: relative;
  display: inline-block;
  padding: 20px 25px;
  color: #03e9f4 !important;
  transition: 0.5s;
  overflow: hidden;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
}

.btn:hover {
  background-color: #03e9f4;
  color: black !important;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 200px #03e9f4;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #000005);
}

.btn span {
  position: absolute;
  display: block;
}

/* For top span */
.btn span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: animate1 1s infinite;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

/* For right span */
.btn span:nth-child(2) {
  bottom: -100%;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: animate2 1s infinite;
  animation-delay: 0.25s;
}

@keyframes animate2 {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 100%;
  }
}

/* For bottom span */
.btn span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: animate3 1s infinite;
  animation-delay: 0.5s;
}

@keyframes animate3 {
  0% {
    right: -100%;
  }
  100% {
    right: 100%;
  }
}

/* For left span */
.btn span:nth-child(4) {
  top: -100%;
  right: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: animate4 1s infinite;
  animation-delay: 0.75s;
}

@keyframes animate4 {
  0% {
    top: -100%;
  }
  100% {
    top: 100%;
  }
}
